<div class="post-content">
  <div class="ui grid">
    <div class="four wide column">
      <a class="avatar avatar-link"
         href="/posts?author=<%= post.author_id %>"
         data-title="<%= post.name %> | <%= ({m: '男', f: '女', x: '保密'})[post.gender] %>"
         data-content="<%= post.bio %>">
        <img class="avatar" src="/images/<%= post.avatar %>">
      </a>
      <div>
        <%- post.create_time %>
      </div>
    </div>
    <div class="eight wide column">
      <div class="ui segment">
        <h3><a href="/posts/<%= post.article_id %>"><%= post.title %></a></h3>
        <pre><%- post.content %></pre>
        <div>
                  <span class="tag right">
                    <span>浏览(<%= post.pv || 0 %>)</span>
                    <% if (user && post.id && user.id.toString() === post.id.toString()) { %>
                    <div class="ui inline dropdown">
                        <div class="text"></div>
                        <i class="dropdown icon"></i>
                        <div class="menu">
                          <div class="item"><a href="/posts/<%= post.article_id %>/edit">编辑</a></div>
                          <div class="item"><a href="/posts/<%= post.article_id %>/remove">删除</a></div>
                        </div>
                      </div>
                    <% } %>
                  </span>
        </div>
      </div>
    </div>
  </div>
</div>